html{
    min-height: 100%;
    margin: 0;
    max-width: 1280px;
    body{
        min-height: 100%;
        footer{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 45px;
            text-align: center;
            ul{
                margin: 0;
                padding: 0;
                text-align: center;
                font-size: 12px;
                color: #777777;
                li{
                    display: inline-block;
                    padding-left: 10px;
                    padding-right: 10px;
                    img{
                        width: 12px;
                        height: 12px;
                    }
                    .social{
                    padding-left: 5px;
                    padding-right: 5px;
                    }
                    .open{
                        padding-right: 15px;
                    }
                }           
            }
        }
    }
}